################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BOBanker/v17/Browse.VC.opendb
/Temp/
/*.csv
/BOBanker/*.csv
/.vs/
/.git/