################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BOBanker/v17/Browse.VC.opendb
/.vs/BOBanker/FileContentIndex/25e030a8-406f-4b9e-b553-ed48c1d3963c.vsidx
