################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BOBanker/v17/Browse.VC.opendb
/.vs/BOBanker/FileContentIndex/67978ccf-1a7e-4138-a313-90a4501dfb85.vsidx
